.searchbar {
  width:100%;
  padding: 0.4rem 1rem;
  transition: all 300ms;
  outline: none;
  border:1px solid gray;
  border-radius: 8px;
}

.searchbar:focus {
  border:1px solid rgb(147 51 234);
  box-shadow: 0 0 1px rgb(147 51 234);
}
.searchbar + button{
  background-color: black; 
  color:white;
  height:38.4px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  transition: 300ms;
}
.searchbar + button:hover{
  background-color: rgb(147 51 234);

}