.searchbar {
  width: 100%;
  border: 1px solid rgb(73, 70, 70);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.searchbar:focus {
  border-color: rgb(147 51 234);
  box-shadow: 0 0 1px rgb(147 51 234);
}

.searchbar + button {
  font-size: 1.4rem;
}
