.details {
  padding: 1rem;
  max-width: 600px;
  margin: 6rem auto 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.details-img {
  width: 40rem;
  height: 20rem;
}
.details-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.details-content-price {
  font-weight: bold;
  margin-top: 1rem;
}
.details-content-name {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

@media (max-width: 610px) {
  .details {
    flex-direction: column;
    margin-top: 5rem;
  }
  .details-img {
    width: 100%;
  }
  .details-img img {
    object-fit: contain;
  }
}