.details-img-container {
  overflow: hidden;
  max-width: 40%;
  max-height:400px;
}
.details-img-container img {
  min-width: 100%;
  object-fit: cover;
  min-height: 100%;
}


@media (max-width: 610px) {
  .details-img-container img {
    object-fit: contain;
  }
}
@media (max-width:768px){
  .details-content{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}