@tailwind base;
@tailwind components;
@tailwind utilities;
@refresh;
.slider {
  @apply h-[80vh] relative left-0 m-0;
  width: 400%;
  animation: slide 20s infinite alternate;
}
.slider-item {
  float: left;
  width: 25%;
  height: 100%;
  float: left;
}
.card .img-holder {
  width: 14rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.card img {
  transition: all 0.3s;
}
.card:hover img {
  transform: scale(1.15);
}
@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
