@tailwind base;
@tailwind components;
@tailwind utilities;
@refresh;

main{
  min-height: calc(100vh-192);
  margin-top:103.2px;
  display:flex;
  flex-direction: column;
  flex:1;
}
.button {
  display:inline-block;
  padding: 1em 2em;
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: transform 300ms;
}
.button:hover {
  transform: scale(1.01);
}
.section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.quantity {
  border: 1px solid rgb(193, 193, 193);
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantity button {
  padding: 0.5rem;
}
.quantity input {
  width: 45px;
  outline: none;
  text-align: center;
}
@media (max-width:768px){
  main{
    min-height: calc(100vh-236);
    margin-top:151.2px;
    }
}