@tailwind base;
@tailwind components;
@tailwind utilities;
@refresh;

.button {
  padding: 1em 2em;
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: transform 300ms;
}
.button:hover {
  transform: scale(1.01);
}
.section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.quantity {
  margin-top: 0.5rem;
  border: 1px solid rgb(193, 193, 193);
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantity button {
  padding: 0.5rem;
}
.quantity input {
  width: 45px;
  outline: none;
  text-align: center;
}

.card .img-holder {
  width: 14rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.card img {
  transition: all 0.3s;
}
.card:hover img {
  transform: scale(1.15);
}

.cart-card {
  border: 1px solid black;
  min-height: 30vh;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 1rem;
  padding: 1rem;
  position: relative;
  min-width: 100%;
}
.cart-card .game-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.cart-card .game-price {
  font-style: italic;
}
.cart-card .game-quantity {
  font-weight: 500;
}

.cart-card img {
  max-width: 10%;
}

@media (max-width: 800px) {
  .cart-card {
    flex-direction: column;
  }
}
